[workspace]
authors = ["Alvaro Gaona <alvgaona@gmail.com>"]
channels = ["conda-forge"]
name = "lidar-odometry"
platforms = ["osx-arm64", "linux-64", "linux-aarch64"]
version = "0.1.0"

[tasks]
clean = "rm -rf build/ install/ log/"
clean-pkg = "sh -c 'rm -rf build/\"$0\" install/\"$0\"'"
build = "sh -c 'colcon build --symlink-install --event-handlers console_direct+ --cmake-args -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_CXX_FLAGS=\"-Wall\" -DPython3_EXECUTABLE=$(which python) -DPython_EXECUTABLE=$(which python)'"
build-pkg = "sh -c 'colcon build --packages-up-to \"$0\" --symlink-install --event-handlers console_direct+ --cmake-args -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_CXX_FLAGS=\"-Wall\" -DPython3_EXECUTABLE=$(which python) -DPython_EXECUTABLE=$(which python)'"
test-pkg = "sh -c 'colcon test --packages-up-to \"$0\" --event-handlers console_direct+'"

# Direct launch commands
livox = "ros2 launch lidarodom livox.launch.py"
livox-odometry = "ros2 launch lidarodom odometry.launch.py topic:=/livox/points use_sim_time:=false"

# Tmuxinator launchers
tmux = "tmuxinator start -p tmuxinator/lidar_odometry.yml"
tmux-stop = "tmuxinator stop lidar_odometry"

[dependencies]
pkg-config = ">=0.29.2,<0.30"
cmake = ">=4.2.1,<5"
ninja = ">=1.13.2,<2"
colcon-common-extensions = ">=0.3.0,<0.4"
eigen = ">=3.4.0,<4"
evo = ">=1.34.2,<2"
qt-main = ">=5.15.15,<6"
pyqt = ">=5.15.11,<6"
librerun-sdk = ">=0.28.2"
rerun-sdk = ">=0.28.2"

[feature.humble]
channels = ["robostack-humble"]

[feature.humble.dependencies]
ros-humble-desktop = ">=0.10.0,<0.11"
ros-humble-ament-cmake-auto = ">=1.3.12,<2"
ros-humble-foxglove-bridge = ">=0.8.5,<0.9"
ros-humble-foxglove-msgs = ">=2.3.0,<3"
ros-humble-rosbag2-storage-mcap = ">=0.15.11,<0.16"
ros-humble-mocap4r2-msgs = ">=0.0.5,<0.0.6"

[feature.jazzy]
channels = ["robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-desktop = ">=0.11.0,<0.12"
ros-jazzy-ament-cmake-auto = ">=2.5.4,<3"
ros-jazzy-foxglove-bridge = ">=0.8.5,<0.9"
ros-jazzy-foxglove-msgs = ">=3.1.0,<4"
ros-jazzy-rosbag2-storage-mcap = ">=0.26.7,<0.27"

[environments]
jazzy = ["jazzy"]
default = ["humble"]

[activation]
scripts = ["install/setup.bash"]

[pypi-dependencies]
pyqt6 = ">=6.7.1, <7"
