[workspace]
authors = ["Alvaro Gaona <alvgaona@gmail.com>"]
channels = ["conda-forge", "robostack-jazzy"]
name = "lidar-odometry"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]

[dependencies]
ros-jazzy-desktop = ">=0.11.0,<0.12"
ros-jazzy-ament-cmake-auto = ">=2.5.4,<3"
compilers = ">=1.11.0,<2"
pkg-config = ">=0.29.2,<0.30"
cmake = ">=4.2.1,<5"
ninja = ">=1.13.2,<2"
